
USER_EMAIL="your gmail address"
APP_PASS="your app password that associtated with your gmail"
REACT_APP_URL="your deployed react app url  " //need to update for production environment
REACT_APP_LOCAL="http://localhost:5000"
NODE_SERVER_URL="your deployed node server url" //need to update for production environment
NODE_SERVER_LOCAL="http://localhost:8080"
